<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Site Title-->
		<title>万纳风控管理系统-股票</title>
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="utf-8">
		<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
		<!-- Stylesheets-->
		<link rel="stylesheet" type="text/css" href="assets/admin-tools/admin-forms/css/admin-forms.min.css">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,600,700%7CMontserrat:400,700">
		<link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">

		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
	</head>
	<style>
		body {
			height: 1500px;
			font-family: "微软雅黑";
		}
		
		.panel-title {
			font-size: 22px;
		}
		
		ul {
			z-index: 3;
		}
		
		.spanr {
			margin-left: 12px;
			text-align: left;
			display: block;
		}
		
		tr:hover {
			color: #003D79;
			background: #ECF5FF;
		}
		
		.spanl {
			margin-right: 12px;
		}
		
		th {
			color: #333333;
		}
		
		table {
			text-align: center;
		}
		
		.flex-column-reverse-before-md {
			height: 250px;
		}
		
		.tray-inner {
			margin-bottom: 20px;
			z-index: 1;
		}
		#top_nav {
			width: auto;
		}
		#top_nav li {}
		
		#top_nav li a {
			width: 150px;
			font-size: 20px;
			text-align: center;
			color: #FFFFFF;
			line-height: 35px;
		}
		.p30-top0 {
		   padding:0 30px 10px 30px;
		}
		.font12 {
			font-size:12px;
		}
		.panel-head {
			height: 52px;
			letter-spacing: 0.2px;
			padding: 0 8px;
		}
		.accordion-toggle{
			max-width: 250px;
		}
		
		[v-cloak]{
			display: none;
		}
	</style>

	<body class="dashboard-page">
		<div id="main">
			<header class="navbar undefined navbar-fixed-top">
				<div class="navbar-branding dark bg-info">
					<a href="index.html" class="navbar-brand text-uppercase"><img src="assets/img/logos/index-logo.png" /></a><span id="toggle_sidemenu_l" class="fa fa-bars"></span></div>
				<ul class="nav navbar-nav navbar-right">
					<li><img src="assets/img/avatars/1.jpg" alt="avatar"></li>
					<li class="dropdown menu-merge">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle fw600 p15"><span class="fa fa-angle-down"></span> </a>
						<ul role="menu" class="dropdown-menu list-group dropdown-persist w250">
							<li class="list-group-item">
								<a href="account.html" class="animated animated-short fadeInUp"><span class="fa fa-user"></span> 分配账号</a>
							</li>
							<li class="list-group-item">
								<a href="data.html" class="animated animated-short fadeInUp"><span class="fa fa-th"></span> 数据管理</a>
							</li>
							<li class="list-group-item">
								<a href="fund.html" class="animated animated-short fadeInUp"><span class="fa fa-th-list"></span> 基金列表</a>
							</li>
							<li class="list-group-item">
								<a href="threshold.html" class="animated animated-short fadeInUp"><span class="fa fa-signal"></span> 设置风险临界值</a>
							</li>
							
							<li class="list-group-item">
								<a href="export.html" class="animated animated-short fadeInUp"><span class="fa fa-share"></span> 导出报告</a>
							</li>
							<li class="list-group-item">
								<a href="" class="animated animated-short fadeInUp"><span class="fa fa-paint-brush"></span> 修改头像</a>
							</li>
							<li class="list-group-item">
								<a href="modify-password.html" class="animated animated-short fadeInUp"><span class="fa fa-lock" style="width: 21px;"></span> 修改密码</a>
							</li>
							
							<li class="dropdown-footer">
								<a href="login.html"><span class="fa fa-power-off pr5"></span> Logout</a>
							</li>
						</ul>
					</li>
				</ul>
			</header>
			<aside id="sidebar_left" class="nano nano-light affix">
				<!-- Start: Sidebar Left Content-->
				<div class="sidebar-left-content nano-content">
					<ul class="nav sidebar-menu">
						<li>
							<a href="#" class="accordion-toggle  menu-open"><span class="fa fa-diamond"></span><span class="sidebar-title">风控管理</span><span class="caret"></span></a>
							<ul class="nav sub-nav">
								<li>
									<a href="#" class="accordion-toggle menu-open"><span class="fa fa-chain"></span>投资组合<span class="caret"></span></a>
									<ul class="nav sub-nav">
										<li>
											<a href="future-seod.html">大宗商品期货</a>
										</li>
										<li class="active">
											<a href="stock.html">股票</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="accordion-toggle"><span class="fa fa-bar-chart-o"></span>收益风险报表<span class="caret"></span></a>
									<ul class="nav sub-nav">
										<li>
											<a href="earnings-report.html">收益报表</a>
										</li>
										<li>
											<a href="var-correlation.html">风险价值及相关</a>
										</li>
										<li>
											<a href="simulated-position.html">模拟仓位测试</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="stress-test.html"><span class="fa fa-dashboard"></span>压力环境测试</a>
								</li>

							</ul>
						</li>
						<li>
							<a href="#" class="accordion-toggle"><span class="fa fa-magic"></span><span class="sidebar-title">客户定制</span><span class="caret"></span></a>
							<ul class="nav sub-nav">
								<li>
									<a href="#"><span class="fa fa-bank"></span>银行</a>
								</li>
								<li>
									<a href="#"><span class="fa fa-money"></span>基金</a>
								</li>
								<li>
									<a href="#"><span class="fa fa-desktop"></span>券商</a>
								</li>
								<li>
									<a href="#" class="accordion-toggle"><span class="fa fa-cubes"></span>大宗商品交易商<span class="caret"></span></a>
									<ul class="nav sub-nav">
										<li>
											<a href="seasonal-seod.html">大宗商品期货季节性季风管理</a>
										</li>
										<li>
											<a href="pricing-risk-hedging.html">石油和天然气存储设施定价及风险对冲</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<!-- sidebar bullets-->
						<li class="sidebar-label pt35"></li>
						<li class="sidebar-proj">
							<a href=""><span class="fa fa-circle-o text-warning"></span><span class="sidebar-title">实时计算</span></a>
						</li>
						<li class="sidebar-proj">
							<a href="export.html"><span class="fa fa-circle-o text-danger"></span><span class="sidebar-title">导出报告</span></a>
						</li>
						<li class="sidebar-proj">
							<a href="data.html"><span class="fa fa-circle-o text-alert"></span><span class="sidebar-title">数据管理</span></a>
						</li>
						<li class="sidebar-proj">
							<a href="baike.html"><span class="fa fa-circle-o text-info"></span><span class="sidebar-title">万纳百科</span></a>
						</li>
						<!-- Start: Sidebar Collapse Button-->
						<div class="sidebar-toggle-mini mt20">
							<a href="#"><span class="fa fa-sign-out"></span></a>
						</div>
					</ul>
				</div>
			</aside>
				<!-- Start: Content-Wrapper-->
				<section id="content_wrapper">
					<!-- Start: Topbar-->
					<header id="topbar" class="alt">
						<div class="topbar-left" style="font-family:Microsoft YaHei">
							<ol class="breadcrumb">
								<li class="crumb-icon">
									<a href="index.html"><span class="glyphicon glyphicon-home"></span></a>
								</li>
								<li class="crumb-link">风控管理</li>
								<li class="crumb-trail">投资组合</li>
								<li class="crumb-link">
									<a>大宗商品期货</a>
								</li>
							</ol>
						</div>
					</header>
					<!-- Begin: Content-->
					<div id="app" v-cloak>
					<section id="content" class="table-layout animated fadeIn">
						<!-- begin: .tray-center-->
						<div class="tray tray-center">
							<div class="tray tray-center" >
								<div class="tray-inner" style="padding: 0 25px 10px 25px;">
									<div class="section row">
										<div>
											<div class="panel-heading"><span class="fs18 text-shady-lady">股票行业</span></div>
												<div class="admin-form">
													<div class="option-group col-md-2">
														
														<label v-for="sector in sectors" :for="sector.sectorId" class="block mb15 option option-primary">
															<input :id="sector.sectorId" type="radio" name="sector" :value="sector.sectorId" v-model="curSectorId" @change="sectorchanged"><span class="radio"></span> {{sector.sectorName}}
														</label>
													</div>

												</div>
										</div>
									</div>
								</div>
								<div class="tray-inner">
									<div class="panel-heading ml10"><span class="panel-title" style="font-size: 22PX;color: #333333;">股票</span><span class="panel-title" style="font-size: 14px;margin-left:10px;">{{curSectorName}}</span></div>
									<div class="p30-top0">
										<div class="panel-body pn bg-light">
											<div id="high-datamap" style="width: 100%; height: 210px; margin: 0 auto"></div>
										</div>
										<div class="panel-footer bg-light pn">
											<div id="high-siblingmap" style="width: 100%; height: 110px; margin: 0 auto"></div>
										</div>
									</div>
								</div>
								<div class="tray-inner" style="min-width:600px;">
									<div id="spy7" class="panel">
										<div class="panel-body pn">
											<div class="bs-component" @select="datechanged">
												<div class="admin-form panel-head" >
													<div class="text-left" style="float:left;font-size:18px;color:#999;line-height:49px;">
														{{curSectorName}}股票列表
													</div>
													<div class="col-md-3" style="float:right;margin-top: 5px;" >
														<label for="filter-datepicker" class="field prepend-picker-icon">
															<date-picker :dateshowed="curSelectedDate" @selectedhandler="datechanged"></date-picker>
														</label>
													</div>
												</div>
												<table class="table table-bordered">
													<thead>
														<tr class="bg-light">
															<th style="text-align: center;">名称</th>
															<th style="text-align: center;">代码</th>
															<th style="text-align: center;">交易所</th>
															<th style="text-align: center;">持仓量</th>
															<th style="text-align: center;">价格</th>
														</tr>
													</thead>
													<tbody>
														<tr v-if="futures.length === 0">
														<td colspan="5">暂未建仓</td>
														</tr>
														<tr v-else is="future-component" v-for="future in futures" :item="future"></tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</section>
					</div>
				</div>

			<script src="plugins/core.min.js"></script>
			
			<script src="assets/js/demo/js/highcharts.src.js"></script>
			<script src="assets/js/demo/js//highcharts-more.js"></script>
			<script src="assets/js/demo/js/modules/exporting.js"></script>
			<script src="assets/js/utility/vue.js"></script>

			<script src="assets/admin-tools/admin-forms/js/jquery-ui-datepicker.min.js"></script>
			 <!-- Theme Javascript -->
			<script src="assets/js/utility/utility.js"></script>
			<script src="assets/js/demo/demo.js"></script>
			<script src="assets/js/main.js"></script>
			 <!-- Widget Javascript -->
			<script src="assets/js/controller/stock.js"></script>
			</body>
		</html>